<section class="section-top">
    <p class="text-center text-uppercase">
	Venir à la fac
    </p>
</section>
<section class="map">

	<div class="col-md-4 col-md-offset-4">
	    <p class="text-capitalised">
		Université de Cergy-Pontoise,<br />
		<small >
		Avenue Marcel Paul, Z.A.C des barbonniers,<br />
		92230 Gennevilliers
		</small>
	    </p>
	</div>
</section>
<div class="container">
    <div class="row">
        <section class="col-md-10 col-md-offset-1 home-news">
            <h3 class="content-title">En tranport en commun</h3><br />
            <div class="row">
                <article class="col-md-6">
                    <div class="article-new">
                        <h3>En tramway</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vero assumenda ea fuga maxime ipsa dolorum eaque libero impedit vel vitae fugit debitis, officiis labore quam. Voluptas aliquam, animi et.</p>

                    </div>
                </article>
                <article class="col-md-6">
                    <div class="article-new">
                        <h3>En RER B</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vero assumenda ea fuga maxime ipsa dolorum eaque libero impedit vel vitae fugit debitis, officiis labore quam. Voluptas aliquam, animi et.</p>

                    </div>
                </article>
            </div>
                        <div class="row">
                <article class="col-md-6">
                    <div class="article-new">
                        <h3>En métro</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vero assumenda ea fuga maxime ipsa dolorum eaque libero impedit vel vitae fugit debitis, officiis labore quam. Voluptas aliquam, animi et.</p>

                    </div>
                </article>
                <article class="col-md-6">
                    <div class="article-new">
                        <h3>En Bus</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vero assumenda ea fuga maxime ipsa dolorum eaque libero impedit vel vitae fugit debitis, officiis labore quam. Voluptas aliquam, animi et.</p>

                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
<div class="white">
    <div class="container padding-section">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
			 <h3 class="content-title">En voiture</h3><br />
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</div>
		</div>
	</div>
</div>