.sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    display: block;
    background-color: $color-3;
    // border-top: 1px solid rgba(101, 116, 134, 0.57);
    box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48) inset;
    ul li {
        border-bottom: 1px solid #42454D;
        transition: all 0.6s;
        border-top: 1px solid #2E3036;
        text-align: left;

        .first {
            background:#6B99B8;
            color:white;
            line-height:35px;
        }
    }
    ul li:hover {
        background-color: $color-2;
        transition: all 0.6s;
        border-bottom: 1px solid #797979;
    }
    ul li a {
        line-height: 55px;
        font-size: 18px;
        position: relative;
        letter-spacing: 1px;
        transition: all 0.6s;
        display: block;
        color: #b3b3b3;
        text-decoration: none;
    }
    ul li:hover a {
        background-color: transparent;
        color: #fff;
        transition: all 0.6s;
    }
    ul li a i{
        margin:0px 15px;
    }
}

@media (max-width: $screen-xs-max) {
    .sidebar {
        position: initial;

        ul li a {
            line-height: 30px;
            font-size: 18px;
        }

    }

}