<section class="banner banner-work">
	<div class="container">
    	<p>bon plans</p>
    </div>
</section>
<div class="work_list">
    <div class="container" style>
      <div>
        <section style="background-color: #EBEBEB;" class="col-md-12">
            <h1>Signaler une erreur sur le bon plan : <span style="color:#999999;">Lorem Ipsum</span></h1>
            <div class="row"><br>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" class="form-control noraduis" id="usr" placeholder="Nom">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control noraduis" id="pwd" placeholder="Adresse mail *">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="comment noraduis" placeholder="Erreurs remarquées... *"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                    <button type="button" class="btn btn-danger"><span class="custom-btn">Valider</span></button>
              </div>
            </div>
          <div class="row">
            <div class="col-md-5">
             <div style="margin-bottom: 15px;">* Veuillez renseigner le champs</div>
            </div>
          </div>
        </section>
      </div>
    </div>
</div>