	<h1>Users</h1>
	<% @actualities.each do |actuality| %>
       <div class="row">
			<p> Titre Article : <%= actuality.title %></p>
                                <%= link_to(admin_edit_actuality_path(actuality),:class=>'button') do %>
                           <span>Edit actuality</span> <i class="fa fa-chevron-right"></i>
                           <% end %>
		</div>
	<% end %>
	<%= link_to 'Create Actuality', admin_create_actuality_path() %>