<header>

	<h1>LP DW</h1>

	<ul class="nav nav-justified" role="tablist">
	  <li class="active"><a href="#">Accueil</a></li>
	  <li><a href="#">A propos</a></li>
	  <li><a href="#">News</a></li>
	  <li><a href="#">Contact</a></li>
	</ul>

</header>