<section class="headband-top headband-top-news">
    <p class="text-center hidden-xs">
    Actualités
    </p>
</section>
<div class="bg-white">
    <div class="container">
        <div class="row">
            <section class="col-md-10 col-md-offset-1 timeline-news">
                <div class="row">
                    <article class="timeline-new col-md-12">
                        <label class="timeline-new-icon"></label>
                        <div class="timeline-new-contents">
                            <p class="timeline-new-info">
                            <strong>Une année de projets !</strong>
                            <small>15 Avril 2013</small>
                            </p>
                            <p class="timeline-new-resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, quod id at ipsum reiciendis doloribus quos architecto unde saepe magnam placeat ullam, ad optio cumque vitae cum libero animi ipsa?</p>
                            <img src="/assets/7136563643_2fe6cd1015_z.jpg" class="img-responsive" alt="">
                            <a href="#" class="button"><span>Lire la suite</span> <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </article>
                    <article class="timeline-new col-md-12">
                        <label class="timeline-new-icon"></label>
                        <div class="timeline-new-contents">
                            <p class="timeline-new-info">
                            <strong>Une année de projets !</strong>
                            <small>15 Avril 2013</small>
                            </p>
                            <p class="timeline-new-resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, quod id at ipsum reiciendis doloribus quos architecto unde saepe magnam placeat ullam, ad optio cumque vitae cum libero animi ipsa?</p>
                            <a href="#" class="button"><span>Lire la suite</span> <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </article>
                    <article class="timeline-new col-md-12">
                        <label class="timeline-new-icon"></label>
                        <div class="timeline-new-contents">
                            <p class="timeline-new-info">
                            <strong>Une année de projets !</strong>
                            <small>15 Avril 2013</small>
                            </p>
                            <p class="timeline-new-resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt consequuntur, dolor, necessitatibus facilis ducimus voluptate. Eum, omnis. Consequuntur, magnam. Iure sunt officiis distinctio quasi, harum tenetur velit. Saepe, et, reiciendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, quod id at ipsum reiciendis doloribus quos architecto unde saepe magnam placeat ullam, ad optio cumque vitae cum libero animi ipsa?</p>
                            <a href="#" class="button"><span>Lire la suite</span> <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </article>
                </div>
                <a href="#" class="view-more">Voir plus</a>
            </section>
        </div>
    </div>
</div>