<section class="banner banner-detailed">
    <p class="text-center">
    Annuaire d'entreprises
    </p>
</section>
<!-- RECHERCHE -->
<!-- ENTREPRISES -->
<div class="gray-bg wrapper">
        <div class="container">
            <div class="row">
                <section class="col-md-8 col-md-offset-2 home-faclab">
                    <h1 class="text-center">Entreprises</h1>
                    <div class="row">
                        <article class="col-md-12">
                            <!-- <img src="/assets/img_4974_0.jpg" alt="Faclab gennevilliers" class="img-circle"> -->
                            
                                <%= link_to companies_path()%>
                                <span>Voir les entreprises</span> <i class="fa fa-chevron-right"></i></a>
                        </article>
                    </div>
                </section>
            </div>
        </div>
</div>
<!-- OFFRES D'EMPLOIS -->
<div class="gray-bg wrapper">
        <div class="container">
            <div class="row">
                <section class="col-md-8 col-md-offset-2 home-faclab">
                    <h1 class="text-center">Offres d'emplois</h1>
                    <div class="row">
                        <article class="col-md-12">
                            <!-- <img src="/assets/img_4974_0.jpg" alt="Faclab gennevilliers" class="img-circle"> -->
                            
                                <%= link_to jobs_path()%>
                                <span>Voir les offres d'emplois</span> <i class="fa fa-chevron-right"></i></a>
                        </article>
                    </div>
                </section>
            </div>
        </div>
</div>
