<section class="banner banner-formation">
	<div class="container">
    	<p>La formation</p>
    </div>
</section>
	<h1 class="title-center">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit
	</h1>
<div class="container formation">

	<br /><br />
	<div class="col-md-10 col-md-offset-1">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit.

</p>
		<div class="row">
				<div class="col-md-6 ">
					<img src="http://lorempixel.com/400/200/" alt="200" />
				</div>
				<p class="col-md-6">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit. Curabitur eget porttitor leo. Phasellus et nisl non velit aliquam volutpat semper a augue. Phasellus eleifend elit metus, vel sodales dolor facilisis sit amet. Phasellus id justo eget quam malesuada pretium. In ut varius dui. Etiam commodo, sem et finibus ornare, sapien nibh pharetra erat, in vestibulum felis odio et sem. Sed at elit dapibus, vulputate turpis vel, laoreet nisl. Maecenas pulvinar blandit tellus vel mattis.
				</p>
		</div><br />

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit.</p>

        <blockquote>
        Nous ne cherchons pas à former de simples codeurs. Nous formons des techniciens capable de raisonner comme des ingénieurs.

	        <small>
	        Ivan Daum, chef de projet
	        </small>
        </blockquote>

	</div>
</div>
	<h1 class="title-center">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit
	</h1>
<div class="container formation">
	<div class="col-md-10 col-md-offset-1">
		<section>
			<h2>Lorem ipsum dolor sit amet</h2>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit. Curabitur eget porttitor leo. Phasellus et nisl non velit aliquam volutpat semper a augue. Phasellus eleifend elit metus, vel sodales dolor facilisis sit amet. Phasellus id justo eget quam malesuada pretium. In ut varius dui. Etiam commodo, sem et finibus ornare, sapien nibh pharetra erat, in vestibulum felis odio et sem. Sed at elit dapibus, vulputate turpis vel, laoreet nisl. Maecenas pulvinar blandit tellus vel mattis.
			</p>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
			</ul>
			<div class="row">
				<p class="left col-md-6">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit. Curabitur eget porttitor leo. Phasellus et nisl non velit aliquam volutpat semper a augue. Phasellus eleifend elit metus, vel sodales dolor facilisis sit amet. Phasellus id justo eget quam malesuada pretium. In ut varius dui. Etiam commodo, sem et finibus ornare, sapien nibh pharetra erat, in vestibulum felis odio et sem. Sed at elit dapibus, vulputate turpis vel, laoreet nisl. Maecenas pulvinar blandit tellus vel mattis.
				</p>
				<div class="col-md-6">
					<img src="http://lorempixel.com/400/200/sports/" alt="200" />
				</div>
		</div><br />
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. 
			</p>
		</section>
		        <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. 

	        <small>
	        Lorem ipsum dolor sit amet
	        </small>
        </blockquote>
		
		<section>
			<h2>Lorem ipsum dolor sit amet</h2>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit. Curabitur eget porttitor leo. Phasellus et nisl non velit aliquam volutpat semper a augue. Phasellus eleifend elit metus, vel sodales dolor facilisis sit amet. Phasellus id justo eget quam malesuada pretium. In ut varius dui. Etiam commodo, sem et finibus ornare, sapien nibh pharetra erat, in vestibulum felis odio et sem. Sed at elit dapibus, vulputate turpis vel, laoreet nisl. Maecenas pulvinar blandit tellus vel mattis.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. 
			</p>
		</section>

		<blockquote>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. 

	        <small>
	        Lorem ipsum dolor sit amet
	        </small>
        </blockquote>
	</div>
<section class="banner banner-formation">
	<div class="container">
    	<p>La formation</p>
    </div>
</section>
	<h1 class="title-center">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit
	</h1>
<div class="container formation">

	<br /><br />
	<div class="col-md-10 col-md-offset-1">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit.

</p>
		<div class="row">
				<div class="col-md-6 ">
					<img src="http://lorempixel.com/400/200/" alt="200" />
				</div>
				<p class="col-md-6">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit. Curabitur eget porttitor leo. Phasellus et nisl non velit aliquam volutpat semper a augue. Phasellus eleifend elit metus, vel sodales dolor facilisis sit amet. Phasellus id justo eget quam malesuada pretium. In ut varius dui. Etiam commodo, sem et finibus ornare, sapien nibh pharetra erat, in vestibulum felis odio et sem. Sed at elit dapibus, vulputate turpis vel, laoreet nisl. Maecenas pulvinar blandit tellus vel mattis.
				</p>
		</div><br />

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit.</p>

        <blockquote>
        Nous ne cherchons pas à former des codeurs. Nous formons des techniciens capable de raisonner comme des ingénieurs, avec des épées +8.

	        <small>
	        Ivan Daum, chef de projet et futur maître du monde
	        </small>
        </blockquote>

	</div>
</div>
	<h1 class="title-center">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit
	</h1>
<div class="container formation">
	<div class="col-md-10 col-md-offset-1">
		<section>
			<h2>Lorem ipsum dolor sit amet</h2>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit. Curabitur eget porttitor leo. Phasellus et nisl non velit aliquam volutpat semper a augue. Phasellus eleifend elit metus, vel sodales dolor facilisis sit amet. Phasellus id justo eget quam malesuada pretium. In ut varius dui. Etiam commodo, sem et finibus ornare, sapien nibh pharetra erat, in vestibulum felis odio et sem. Sed at elit dapibus, vulputate turpis vel, laoreet nisl. Maecenas pulvinar blandit tellus vel mattis.
			</p>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
			</ul>
			<div class="row">
				<p class="left col-md-6">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit. Curabitur eget porttitor leo. Phasellus et nisl non velit aliquam volutpat semper a augue. Phasellus eleifend elit metus, vel sodales dolor facilisis sit amet. Phasellus id justo eget quam malesuada pretium. In ut varius dui. Etiam commodo, sem et finibus ornare, sapien nibh pharetra erat, in vestibulum felis odio et sem. Sed at elit dapibus, vulputate turpis vel, laoreet nisl. Maecenas pulvinar blandit tellus vel mattis.
				</p>
				<div class="col-md-6">
					<img src="http://lorempixel.com/400/200/sports/" alt="200" />
				</div>
		</div><br />
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. 
			</p>
		</section>
		        <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. 

	        <small>
	        Lorem ipsum dolor sit amet
	        </small>
        </blockquote>
		
		<section>
			<h2>Lorem ipsum dolor sit amet</h2>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit. Curabitur eget porttitor leo. Phasellus et nisl non velit aliquam volutpat semper a augue. Phasellus eleifend elit metus, vel sodales dolor facilisis sit amet. Phasellus id justo eget quam malesuada pretium. In ut varius dui. Etiam commodo, sem et finibus ornare, sapien nibh pharetra erat, in vestibulum felis odio et sem. Sed at elit dapibus, vulputate turpis vel, laoreet nisl. Maecenas pulvinar blandit tellus vel mattis.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. 
			</p>
		</section>

		<blockquote>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. 

	        <small>
	        Lorem ipsum dolor sit amet
	        </small>
        </blockquote>
	</div>
</div>