<section class="banner banner-formation">
	<div class="container">
    	<p>La formation</p>
    </div>
</section>
	<h1 class="title-center">
		Licence professionnelle spécialité Développeur web <br />de systèmes d’information et multimédia
	</h1>
<div class="container formation">

	<br /><br />
	<div class="col-md-10 col-md-offset-1">
		<div class="row">

			<p class="col-md-6 ">
			Cette licence reconnue par l'état est connue sous le nom « Licence professionnelle spécialité Développeur
			web de systèmes d’information et multimédia » et le diplôme délivré porte ce nom.
			Elle est installée à Gennevilliers, aux portes de Paris, (au bout de la ligne 13, à
			quelques pas du RER C) sur le nouveau site de l’Université de Cergy-Pontoise.
			<br /><br />
			</p>
			<p class="col-md-6 ">
			La Licence Développeur Web et Web Mobile (LP-DW) forme chaque année une vingtaine de
			professionnels prêts à évoluer avec internet. Spécialisée dans le développement web,
			cette licence vous apporte toute l’expérience nécessaire au cours d'un an d’alternance en
			entreprise. Tous ses étudiants partagent la même passion du web, de sa culture et se
			constituent un socle solide de compétences de développement.
			</p>

		</div><br />
		<blockquote style="font-size:15px;">
			Regardez un <a href="/doc/LP_DW-Semainier-Septembre2014-Septembre2015.pdf" target="blank">exemple d'emploi du temps </a>pour vous faire une idée du rythme de l'année.
			<br><b>Notez bien que votre emploi du temps définitif vous sera envoyé après admission</b>.
		</blockquote>
	</div>
</div>
<h1 class="title-center">
	Un an pour devenir développeur web !
</h1>

<div class="container formation">
	<div class="col-md-10 col-md-offset-1">
		<section>
			<div class="row">
			<p class="col-md-6">
				Le contenu de cette licence de l’Université de Cergy-Pontoise est mis à jour en permanence. Elle est animée par des intervenants issus du secteur du web dont l’objectif est de vous professionnaliser. Vous avez un an pour vous forger une culture du web à la pointe, mais aussi et surtout devenir un développeur aguerri.
				<br /><br />
				Loin d’un enseignement ennuyeux, la licence s’organise autour de véritables projets qui vous permettent d’entrer au cœur des technologies et de leurs subtilités (optimisation, algorithmie, sécurité, accessibilité, …). Le rythme et la taille de ces projets vous apprendra progressivement à vous organiser et à devenir productif. Tout est fait pour vous apprendre à apprendre, et rester en phase avec les technologies au fur et à mesure qu’elles apparaissent. Ainsi, vous ne serez pas dépassé quelques mois après avoir obtenu votre diplôme…
				<br /><br />
			</p>
			<div class="col-md-6 ">
				<img src="./formation_1.jpg" alt="200" />
			</div>
			</div>
			<p>
				<blockquote>
				En plus de 430 heures de cours en tronc commun, un parcours personnalisé vous permet de choisir une spécialisation de 120 heures ("applications mobiles" ou "objets connectés").
				</blockquote>
			</p>
		</section>
		</div>
	</div>
<h1 class="title-center">
	Le tronc commun
</h1>
<div class="container formation">
	<div class="col-md-10 col-md-offset-1">
		<section>
			<p>
				Le développement de sites internet ou d’applications mobiles ne s’effectue pas dans le vide, mais dans un contexte économique, social, technologique, avec ses contraintes et ses modes. Traçabilité, neutralité du net sont, parmi d’autres, de réels thèmes débattus au sein de la Licence. Un professionnel, en plus de savoir utiliser son clavier, se doit de les connaître et d’en suivre les évolutions. Parmi les sujets abordés, vous trouverez :
			</p>
		</section>
		<section class="col-md-4">
			<ul>
				<li>L’histoire et l’évolution du net</li>
				<li>L’ergonomie des interfaces mobiles</li>
				<li>La e-economie</li>
				<li>Les méthodologies de veille</li>
				<li>Le travail collaboratif</li>
				<li>Les fondamentaux de la programmation</li>
				<li>L’optimisation</li>
				<li>L’algorithmie</li>
				<li>La programmation objet</li>
			</ul>
		</section>
		<section class="col-md-4">
			<ul>
				<li>La sécurité web</li>
				<li>Langages et outils du web</li>
				<li>HTML5 / CSS3</li>
				<li>SQL / Php5</li>
				<li>Les API et Web Services</li>
				<li>Symfony</li>
				<li>Conversations en anglais</li>
				<li>Fondamentaux de la gestion de projets</li>
				<li>Et d'autres encore</li>
			</ul>
		</section>
		<section class="col-md-4">
			<img class="img-responsive" src="./formation_2.jpg" alt="200" />
		</section>

	</div>
</div>
<div class="container formation">
	<div class="col-md-10 col-md-offset-1">
	<blockquote>
		Coder « pro », réfléchir, optimiser, documenter en pensant à ceux qui viendront par la suite maintenir le code, c’est sont là de vraies qualités professionnelles. Nous vous les enseignerons par la pratique.
	</blockquote>
	</div>
</div>
<h1 class="title-center">
	Les spécialisations
</h1>
<div class="container formation">
	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			<section>
				<div class="col-md-5">
					<p>
						Les 120 heures correspondent à quatre semaines thématiques, que vous suivrez en fonction de vos inclinaisons :
					</p>

					<!-- Marketing messaging and featurettes
			        ================================================== -->
			        <!-- Wrap the rest of the page in another container to center all the content. -->

			        <div class="container marketing">

			          <!-- Three columns of text below the carousel -->
			            <div class="col-lg-5">
			            <center>
			              <img class="img-circle" src="***" alt="Img Applications mobiles">

			              <h2 class="text-center">Applications mobiles</h2>
			              <p class="text-center"><p>Ce circuit de spécialisation propose de découvrir et de pratiquer :</p>
										<ul>
											<h4>Les fondamentaux des applications mobiles</h4>
											<h4>Le développement iPhone</h4>
											<h4>Le développement Android</h4>
											<h4>Le développement PhoneGap et l’optimisation HTML mobile<h4>
										</ul>
			             </center>
			            </div><!-- /.col-lg-4 -->


			            <div class="col-lg-5">
			                <center>
			                  <img class="img-circle" src="***" alt="Img Objets connectés">

			                  <h2 class="text-center">Internet des Objets et Objets connectés</h2>
			                  <p class="text-center">Internet sort des écrans pour se répandre dans nos objets du quotidien.
													Nouvelles interfaces, nouveaux usages, protocoles et interactions…
													Tout cela demande de maitriser le monde physique et d’aller au delà du virtuel.
													Pour ce faire, les étudiants bénéficient du FacLab, le FabLab de l’Université de Cergy-Pontoise,
													où ils peuvent découvrir et mettre en pratique les techniques de fabrication numérique dans le cadre de leurs projets. Les sujets abordés sont :
													<ul>
														<h4>Introduction aux objets connectés</h4>
														<h4>ICapteurs, actionneurs, protocoles et signaux</h4>
														<h4>IAugmenter les objets avec Arduino</h4>
														<h4>IDévelopper une API / Web Service entre internet et objet physique</h4>
			                </center>
			            </div><!-- /.col-lg-4 -->

									<div class="col-lg-10">
											<center>
												<img class="img-circle" src="***" alt="Img Objets connectés">

												<h2 class="text-center">Gestion de projets</h2>
												<p class="text-center">IUn étudiant peut se déclarer intéressé par la gestion de projets.
													En ce cas, il (ou elle !) aura en charge de suivre les projets en tant que chef de projets
													tout au long de l’année, et sera « coaché » pour ce faire afin de monter en compétence.</p>
											</p>
											</center>
									</div><!-- /.col-lg-4 -->

			        </div>

					</ul>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<img class="img-responsive" src="./formation_3.jpg" alt="200" />
					<p style="padding:10px;font-style:italic;">La photo de remise des diplômes de la promo 2012-13, avec un échantillon des étudiants.</p>
				</div>

			</section>
		</div>
		<blockquote class="end_presentation" style="padding:10px 0px;"></blockquote>
	</div>
</div>
