<section class="banner banner-formation">
	<div class="container">
    	<p class="text-left">La formation</p>
    </div>
</section>
	<h1 class="title-center">
		50H de travail forcé par semaine. 1 an pour former de parfaits travailleurs.
	</h1>
<div class="container formation">

	<br /><br />
	<div class="col-md-10 col-md-offset-1">
		<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen </p><br />
		<div class="row">
				<div class="col-md-4">
					<img src="http://lorempixel.com/400/200/" alt="200" />
				</div>
				<p>
				Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.				Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.
				</p>
		</div><br />

		<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen </p>		

        <blockquote>
        Nous ne cherchons pas à former des codeurs. Nous formons des techniciens capable de raisonner comme des ingénieurs, avec des épées +8.

	        <small>
	        Ivan Daum, chef de projet et futur maître du monde
	        </small>
        </blockquote>

	</div>
</div>
	<h1 class="title-center">
		3 parcours pour trouver votre voie
	</h1>
<div class="container formation">
	<div class="col-md-10 col-md-offset-1">
		<section>
			<h2>Le parcours termo-nucléaire</h2>
			<p>
			Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.				Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.
			</p>
			<ul>
				<li> Exemple de compétence ou de liste à puces</li>
				<li> Exemple de compétence ou de liste à puces</li>
				<li> Exemple de compétence ou de liste à puces</li>
				<li> Exemple de compétence ou de liste à puces</li>
				<li> Exemple de compétence ou de liste à puces</li>
				<li> Exemple de compétence ou de liste à puces</li>
			</ul>
			<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.
			</p>
		</section>
		        <blockquote>
        Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire

	        <small>
	        Hohohihi, truc muche
	        </small>
        </blockquote>
		<section>
			<h2 class="text-right">Le parcours V32</h2>
			<p>
			Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.				Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.
			</p>
			<ul>
				<li> Exemple de compétence ou de liste à puces</li>
				<li> Exemple de compétence ou de liste à puces</li>
			
			</ul>
			<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.
			</p>
		</section>
	</div>
</div>