<section class="banner banner-detailed">
    <p class="text-center">
    Annuaire d'entreprises
    </p>
</section>
<!-- RECHERCHE -->
<input type="submit" name="recherche" value="rechercher"/>
<button type="button">Valider</button>
<!-- LISTE OFFRES -->
<div class="gray-bg wrapper">
        <div class="work_list">
    <div class="container">
 <table id="og-grid" class="og-grid">
   <tr>
       <th>Offres d'emplois</th>
       
   </tr>
<% @jobs.each do |job| %>
   <tr>
       <td><%= job.job_name %></td>
       <td><%= job.job_description %></td>
       <td><button type="button">Voir</button></td>
   </tr>
</table>
<% end %>       
           
    </div>
</div>
</div>
<!-- PAGINATION -->

