<div class="live">
    <section class="banner banner-live">
        <div class="container">
            <p>Réactions</p>
        </div>
    </section>
    <section class="note-live text-center">
    Vous aussi, partagez vos réactions avec le hashtag <span>#lpdw_ucp</span>
    </section>
    <div class="back-grey5">
        <div class="container">
            <div class="row live-message">

                <!-- compte officiel -->
                <div class="col-md-6">
                    <article class="col-md-12">
                        <h2>Les informations</h2>
                        <div class="article-new">
                            <p>
                                <!-- Photo , nom affichage, @nom, date - heure -->
                            <img src="" class="avatar_live" />
                                <div class=""></div>
                            </p>
                        </div>
                    </article>
                </div>

                <!-- hashtags -->
                <div class="col-md-6">
                    <article class="col-md-12">
                        <h2>Vos réactions</h2>
                        <div class="article-new">
                            <p>
                               <!-- Photo , nom affichage, @nom, date - heure -->test
                            </p>
                        </div>
                    </article>
                </div>
            </div>

        </div>

    </div>
</div>