<div class="live">
    <section class="banner banner-live">
        <div class="container">
            <p>En direct</p>
        </div>
    </section>
    <section class="note-live text-center">
    Vous aussi, partagez vos réactions avec le hashtag <span>#lpdw_ucp</span>
    </section>
    <div class="back-grey5">
        <div class="container">
            <div class="row live-message">

                <!-- compte officiel -->
                <div class="col-md-6">
                    <article class="col-md-12">
                        <h2>Le compte officiel</h2>

                        <a class="twitter-timeline" href="https://twitter.com/ivandaum" data-widget-id="554262026604646400">Tweets de @ivandaum</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </article>
                </div>

                <!-- hashtags -->
                <div class="col-md-6">
                    <article class="col-md-12">
                        <h2>Vos réactions</h2>
                        <a class="twitter-timeline" href="https://twitter.com/hashtag/lpdw_ucp" data-widget-id="554260940124733440">Tweets sur #lpdw_ucp</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </article>
                </div>
            </div>

        </div>

    </div>
</div>