<section class="venir-bg">
    <section class="headband-top headband-top-news">
        <p class="text-left hidden-xs">
        Venir à la fac
        </p>
    </section>
    <section>
        <div class="col-md-6 col-md-offset-3">
            <p class="text-center address">
            Université de Cergy-Pontoise,<br /><br />
                <small>
                Avenue Marcel Paul, Z.A.C des barbonniers,<br />
                92230 Gennevilliers
                </small>
            </p>
        </div>
    </section>
</section>
<div class="container">
    <div class="row">
        <section class="col-md-10 col-md-offset-1 home-news">
            <h3 class="content-title">En tranport en commun</h3><br />
            <div class="row">
                <article class="col-md-6">
                    <div class="article-new">
                        <h3>En tramway</h3>
                        <p>ligne 1 : station Timbaud<br />
                           ligne 1 : station Gare Gennevilliers<br /></p>
                        <a href="https://www.google.fr/maps/dir/Timbaud/1+All%C3%A9e+des+Pierres+Mayettes,+92230+Gennevilliers/Gennevilliers/@48.9339086,2.3032294,16z/data=!4m20!4m19!1m5!1m1!1s0x47e66f4be7d3c75f:0x4455c5fbcc900897!2m2!1d2.301389!2d48.933263!1m5!1m1!1s0x47e66f4b2a5343ab:0x6ef6cdf24a69ce94!2m2!1d2.3031275!2d48.9374854!1m5!1m1!1s0x47e66f35c46d402d:0x20f6f703f23c6287!2m2!1d2.30759!2d48.933397!3e2?hl=fr" alt="itinéraire" target="blank">
                        Voir le plan</a>
                    </div>
                </article>
                <article class="col-md-6">
                    <div class="article-new">
                        <h3>En RER</h3>
                        <p>RER C : Gare de Gennevilliers</p>
                        <a href="https://www.google.com/maps/dir/Gennevilliers/48.9367066,2.3035278/@48.9354083,2.3030488,17z/data=!3m1!4b1!4m9!4m8!1m5!1m1!1s0x47e66f35c46d402d:0x20f6f703f23c6287!2m2!1d2.30759!2d48.933397!1m0!3e2" target="blank">Voir sur le plan</a>

                    </div>
                </article>
            </div>
                        <div class="row">
                <article class="col-md-6">
                    <div class="article-new">
                        <h3>En métro</h3>
                        <p>
                        Métro 13 : station Asnières-Gennevilliers les Courtilles, puis :<br/>
                        - Bus 240 ou N51<br/>
                        - Tramway 1 jusquà la station Timbaud</p>
                        <a href="https://www.google.fr/maps/dir/48.9305,2.28457/48.935716,2.303461/@48.9341379,2.2984399,15z/data=!4m6!4m5!1m1!4e1!1m1!4e1!3e2?hl=fr" alt="Voir sur le plan" target="blank">Voir sur le plan</a>

                    </div>
                </article>
                <article class="col-md-6">
                    <div class="article-new">
                        <h3>En Bus</h3>
                        <p>Station : Les Barbanniers (arrêt en face de l'université)<br /><br />

                        Ligne 138, gare d’Ermont-Eaubonne/porte de Clichy métro<br />
                        Ligne 276, Gabriel Péri Métro/la défense métro RER Tramway<br />
                        Ligne 340, Berges de seine/ZAC des Louvresses<br />

                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
<div class="map">
     <div class="col-md-8 col-md-offset-2">
        <h3 class="content-title">En voiture</h3><br />
        <p>
            En voiture, depuis l’A86, sortez à la sortie 5.1 « Gennevilliers-Village », puis prenez l’avenue Marcel Paul en direction de Paris, au feu, tournez à droite et garez-vous, la licence est 50 mètres plus loin en direction de Paris.<br /><br />

            Si vous avez un GPS pour vous guider, le plus simple est de lui demander de vous conduire « Allée des Pierres Mayettes » à Gennevilliers. Cette allée forme une boucle qui enserre l’université. Bravez le sens interdit qui en barre l’entrée pour aller vous garer !
        </p>
            <a class="btn btn-default" href="https://www.google.com/maps/dir//48.9367066,2.3035278/@48.9362333,2.3044024,17z/data=!4m2!4m1!3e0" alt="itinéraire" target="blank">Calculez votre itinéraire</a>

    </div>
</div>