<section class="venir-bg">
    <section class="headband-top headband-top-news">
        <p class="text-left hidden-xs">
        Venir à la fac
        </p>
    </section>
    <section>
        <div class="col-md-6 col-md-offset-3">
            <p class="text-center address">
            Université de Cergy-Pontoise,<br /><br />
                <small>
                Avenue Marcel Paul, Z.A.C des barbonniers,<br />
                92230 Gennevilliers
                </small>
            </p>
        </div>
    </section>
</section>
<div class="container">
    <div class="row">
        <section class="col-md-10 col-md-offset-1 home-news">
            <h3 class="content-title">En tranport en commun</h3><br />
            <div class="row">
                <article class="col-md-6">
                    <div class="article-new">
                        <h3>En tramway</h3>
                        <p>ligne 1 : station Timbaud (100m de l’université)</p>

                    </div>
                </article>
                <article class="col-md-6">
                    <div class="article-new">
                        <h3>En RER C</h3>
                        <p>Depuis la gare du RER C Gennevilliers 500 mètres à pieds.</p>
                        <a href="#" alt="Voir sur le plan">Voir sur le plan</a>

                    </div>
                </article>
            </div>
                        <div class="row">
                <article class="col-md-6">
                    <div class="article-new">
                        <h3>Avec le métro 13</h3>
                        <p>
                        Depuis la station Asnières-Gennevilliers les Courtilles du métro 13 : 1,5 kilomètres à pieds, ou bus 240 ou N51 (et dès 2013, vous pourrez utiliser le tramway 1).</p>
                        <a href="#" alt="Voir sur le plan">Voir sur le plan</a>

                    </div>
                </article>
                <article class="col-md-6">
                    <div class="article-new">
                        <h3>En Bus</h3>
                        <p>A proximité immédiate de l’université, vous trouverez des arrêts des bus suivants :

                        Ligne 138, gare d’Ermont-Eaubonne/porte de Clichy métro
                        Ligne 276, Gabriel Péri Métro/la défense métro RER Tramway
                        Ligne 340, Berges de seine/ZAC des Louvresses

                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
<div class="map">
     <div class="col-md-8 col-md-offset-2">
        <h3 class="content-title">En voiture</h3><br />
        <p>
            En voiture, depuis l’A86, sortez à la sortie 5.1 « Gennevilliers-Village », puis prenez l’avenue Marcel Paul en direction de Paris, au feu, tournez à droite et garez-vous, la licence est 50 mètres plus loin en direction de Paris.<br /><br />

            Si vous avez un GPS pour vous guider, le plus simple est de lui demander de vous conduire « Allée des Pierres Mayettes » à Gennevilliers. Cette allée forme une boucle qui enserre l’université. Bravez le sens interdit qui en barre l’entrée pour aller vous garer !
        </p>
    </div>
</div>