<div class="container mentions">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<span class="col-md-4">
				<div>
					<h3>Mentions légales</h3>
						<p>
							Le site web lpdw.u-cergy.com est mis à votre disposition par l’université de Cergy-Pontoise sous réserve de votre acceptation inconditionnelle des mentions des présents articles. Ce site présente les activités de l’ensemble des services et des composantes de l’université de Cergy-Pontoise. Les informations fournies le sont à titre informatif.

							Le présent site internet est hébergé sur les serveurs de l'université. Il est publié grâce au CMS Ametys, adapté pour l'université de Cergy-Pontoise par la société Anyware Services.
						</p>
					</span>
				</div>
			</span>
			<span class="col-md-4">
				<div>
					<h3>Traitement des données personnelles</h3>
					<p>
						Les données personnelles que les utilisateurs peuvent être amenées à fournir se font sur une base volontaire et sont exclusivement destinées à l’université de Cergy-Pontoise, à des fins administratives.

						Aucune autre exploitation, même partielle, des données recueillies ne pourra être effectuée sans l’accord préalable de l’utilisateur du site web. Ces informations sont confidentielles et conservées par l’université de Cergy-Pontoise.

						En ce qui concerne la Newsletter, vous pouvez mettre fin à votre filiation à tout moment.

						Conformément à l’article 34 de la Loi " Informatique et Libertés "n°78-17 du 6 janvier 1978, vous disposez d’un droit d’accès, de rectification et de suppression des données nominatives vous concernant. Vous pouvez l’exercer en vous adressant à : webmaster@ml.u-cergy.fr.

						L’utilisateur trouvera des informations sur ses droits et ses devoirs et sur la protection des données individuelles sur le site de la Commission Nationale Informatique et Libertés : www.cnil.fr.
					</p>
				</div>
			</span>
			<span class="col-md-4">
				<div>
					<h3>INFORMATIQUE ET LIBERTÉS</h3>
					<p>
						L’Université de Cergy-Pontoise respecte les dispositions protectrices des droits de l’homme et des libertés fondamentales, la protection des données à caractère personnel et leur libre circulation ainsi que la Directive communautaire n° 95/46 et la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.

						L’Université de Cergy-Pontoise effectue les procédures déclaratives relatives à la mise en œuvre de traitement automatisé des données à caractère personnel auprès de la Commission Nationale Informatique et Libertés (avis favorable de la CNIL N°623101).

						L’utilisateur est notamment informé que, conformément aux articles 38, 39 et 40 de la loi n° 78-17 du 6 janvier 1978, relative à l’informatique, aux fichiers et aux libertés, il bénéficie d’un droit individuel d’accès, de rectification et de suppression des informations personnelles le concernant. Les demandes écrites sont à transmettre à l’adresse suivante.

						Université de Cergy-Pontoise
						Présidence de l’Université
						Correspondant Informatique et Libertés
						33, boulevard du Port
						95011 Cergy-Pontoise cedex
					</p>
				</div>
			</span>
		</div>

	</div>
</div>