<div class="container mentions">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<span class="col-md-4">
				<div>
					<h3>Hébergeur</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit. Curabitur eget porttitor leo. Phasellus et nisl non velit aliquam volutpat semper a augue. Phasellus eleifend elit metus, vel sodales dolor facilisis sit amet.
						</p>
					</span>
				</div>
			</span>
			<span class="col-md-4">
				<div>
					<h3>Traitement des données personnelles</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. Praesent iaculis in elit sit amet rhoncus. Integer porta purus ut nulla porttitor, at luctus nunc hendrerit. Curabitur eget porttitor leo. Phasellus et nisl non velit aliquam volutpat semper a augue. Phasellus eleifend elit metus, vel sodales dolor facilisis sit amet.
					</p>
				</div>
			</span>
			<span class="col-md-4">
				<div>
					<h3>Propriété et Droit</h3>
					<p>
						Les images et textes présents sur le site sont la propriété l’université de Cergy-Pontoise. Aucune reproduction, même partielle ne peut être faite de ce site sans l’autorisation de l'université.
					</p>
				</div>
			</span>
		</div>
		<div class="row">
			<span class="col-md-4">
				<div>
					<h3>Informations de contact</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit purus quis molestie finibus. Ut posuere tempus feugiat. Etiam malesuada massa non arcu consectetur auctor id quis nunc. Etiam condimentum mi ac nibh euismod, ac volutpat urna lacinia. 
					</p>
				</div>
			</span>
		</div>
	</div>
</div>