<div class="bg-white new">
    <div class="container">
        <div class="row">
        <article>
        <%= link_to 'Voir tous les articles', actualites_path() , html_options = {"class" =>"more-article"}%>

        </article>
        </div>
    </div>
</div>