<hr class="horizontal-line gray-bg">
<div class="bg-white new">
    <div class="container">
        <div class="row">
            <article class="col-md-10 col-md-offset-1">
                <div class="row">
                    <%= link_to({ controller: "pages", action: "news"},:class=>'more-article') do %>
                    <i class="fa fa-chevron-left"></i><span>Revenir à la liste des articles</span>
                    <% end %>
                    <div class="col-md-12 new-info">
                        <h1 class="new-title"><%= @actuality.title %></h1>
                        <p class="new-date">15 Avril 2013</p>
                    </div>
                    <p class="col-md-9">
                    <%= @actuality.content %>
                    </p>
                    <!-- <section class="new-media">
                        <img src="/assets/7136563643_2fe6cd1015_z.jpg" class="col-md-6 img-responsive" alt="">
                        <p class="col-md-6 legend">- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias unde animi dignissimos quibusdam recusandae rem molestias nobis dolorem pariatur nihil ipsa velit, incidunt eius repellendus quam voluptates excepturi deserunt error?</p>
                    </section>
                    <p class="col-md-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sit inventore, non obcaecati numquam aliquam voluptatem nesciunt, vitae reiciendis eos exercitationem alias consequuntur enim iusto sunt eligendi necessitatibus quasi voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae atque rerum, corrupti corporis quasi ipsam quod deserunt ullam sint dolorum fuga. Enim ex voluptatibus optio reprehenderit atque distinctio? Veniam, perspiciatis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sapiente dicta quisquam excepturi mollitia, praesentium optio, corporis eius quo quod impedit dignissimos! Voluptate deleniti adipisci quam ipsam dolorem fuga animi!</p>
                    <section class="new-media">
                        <img src="/assets/7136563643_2fe6cd1015_z.jpg" class="col-md-6 img-responsive" alt="">
                        <p class="col-md-6 legend">- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias unde animi dignissimos quibusdam recusandae rem molestias nobis dolorem pariatur nihil ipsa velit, incidunt eius repellendus quam voluptates excepturi deserunt error?</p>
                    </section> -->
                </div>
            </article>
        </div>
    </div>
</div>