<section class="banner banner-blue banner-news">
    <div class="container">
        <p>Actualités</p>
    </div>
</section>
<div class="bg-white">
    <div class="container">
        <div class="row">
            <section class="col-md-8 col-md-offset-1 timeline-news">
                <div class="row">
                    <% @actualities.each do |actuality| %>
                    <article class="timeline-new col-md-12">
                        <span class="timeline-new-icon"></span>
                        <div class="timeline-new-contents">
                            <div class="timeline-new-info">
                                <p><strong><%= actuality.title %></strong></p>
                                <p><small><%= actuality.created_at %></small></p>
                            </div>
                            <p class="timeline-new-resume"><%= HTML_Truncator.truncate((actuality.content),40).html_safe %></p>

                            <%= link_to(actuality_show_path(actuality),:class=>'button-timeline') do %>
                           <span>Lire la suite</span> <i class="fa fa-chevron-right"></i>
                           <% end %>
                        </div>
                    </article>
                    <% end %>
                </div>
                <!-- <a href="#" class="view-more">Voir plus</a> -->
            </section>
        </div>
    </div>
</div>