<section class="banner banner-work">
	<div class="container">
    	<p class="text-left">projets étudiants</p>
    </div>
</section>
<div class="work_list">
    <div class="container">
        <div class="row">
        	<article class="col-sm-4 col-md-3">
        	    <div class="work_item">
        	        <figure>
        	        	<img src="http://lorempixel.com/400/400/technics/" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="work_item">
        	        <figure>
        	        	<img src="http://lorempixel.com/400/400/technics/" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="work_item">
        	        <figure>
        	        	<img src="http://lorempixel.com/400/400/technics/" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="work_item">
        	        <figure>
        	        	<img src="http://lorempixel.com/400/400/technics/" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="work_item">
        	        <figure>
        	        	<img src="http://lorempixel.com/400/400/technics/" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="work_item">
        	        <figure>
        	        	<img src="http://lorempixel.com/400/400/technics/" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="work_item">
        	        <figure>
        	        	<img src="http://lorempixel.com/400/400/technics/" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="work_item">
        	        <figure>
        	        	<img src="http://lorempixel.com/400/400/technics/" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	    </div>
        	</article>
        </div>
    </div>
</div>