<section class="banner banner-work">
	<div class="container">
    	<p class="text-left">projets étudiants</p>
    </div>
</section>
<div class="work_list">
    <div class="container">
        <ul id="og-grid" class="og-grid">
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/assets/thumbs/1.jpg" alt="img01"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/assets/thumbs/2.jpg" alt="img02"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/assets/thumbs/3.jpg" alt="img03"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/assets/thumbs/1.jpg" alt="img01"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/assets/thumbs/2.jpg" alt="img02"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/assets/thumbs/3.jpg" alt="img03"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/assets/thumbs/1.jpg" alt="img01"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/assets/thumbs/2.jpg" alt="img02"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/assets/thumbs/3.jpg" alt="img03"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/assets/thumbs/1.jpg" alt="img01"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/assets/thumbs/2.jpg" alt="img02"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/assets/thumbs/3.jpg" alt="img03"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/assets/thumbs/1.jpg" alt="img01"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/assets/thumbs/2.jpg" alt="img02"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/assets/thumbs/3.jpg" alt="img03"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/assets/thumbs/1.jpg" alt="img01"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/assets/thumbs/2.jpg" alt="img02"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/assets/thumbs/3.jpg" alt="img03"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/assets/thumbs/1.jpg" alt="img01"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/assets/thumbs/2.jpg" alt="img02"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/assets/thumbs/3.jpg" alt="img03"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="/assets/thumbs/1.jpg" alt="img01"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="/assets/thumbs/2.jpg" alt="img02"/>
                </div>
            </li>
            <li>
                <div class="image-wrapper" data-url="http://cargocollective.com/jaimemartinez/" data-largesrc="/assets/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="/assets/thumbs/3.jpg" alt="img03"/>
                </div>
            </li>
        </ul>
    </div>
</div>