<section class="banner banner-blue banner-team">
	<div class="container">
    	<p class="text-left">l'équipe</p>
    </div>
</section>
<div class="bg-white team-profiles">
    <div class="container">
        <div class="row">
        	<article class="col-sm-4 col-md-3">
        	    <div class="team-profile">
        	        <figure>
        	        	<img src="http://lorempixel.com/output/people-q-c-200-200-9.jpg" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	        <h4 class="text-center">Laurent Ricard</h4>
        	        <p class="text-center">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="team-profile">
        	        <figure>
        	        	<img src="http://lorempixel.com/output/people-q-c-200-200-9.jpg" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	        <h4 class="text-center">Laurent Ricard</h4>
        	        <p class="text-center">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="team-profile">
        	        <figure>
        	        	<img src="http://lorempixel.com/output/people-q-c-200-200-9.jpg" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	        <h4 class="text-center">Laurent Ricard</h4>
        	        <p class="text-center">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="team-profile">
        	        <figure>
        	        	<img src="http://lorempixel.com/output/people-q-c-200-200-9.jpg" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	        <h4 class="text-center">Laurent Ricard</h4>
        	        <p class="text-center">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="team-profile">
        	        <figure>
        	        	<img src="http://lorempixel.com/output/people-q-c-200-200-9.jpg" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	        <h4 class="text-center">Laurent Ricard</h4>
        	        <p class="text-center">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="team-profile">
        	        <figure>
        	        	<img src="http://lorempixel.com/output/people-q-c-200-200-9.jpg" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	        <h4 class="text-center">Laurent Ricard</h4>
        	        <p class="text-center">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="team-profile">
        	        <figure>
        	        	<img src="http://lorempixel.com/output/people-q-c-200-200-9.jpg" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	        <h4 class="text-center">Laurent Ricard</h4>
        	        <p class="text-center">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="team-profile">
        	        <figure>
        	        	<img src="http://lorempixel.com/output/people-q-c-200-200-9.jpg" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	        <h4 class="text-center">Laurent Ricard</h4>
        	        <p class="text-center">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
        	    </div>
        	</article>
        	<article class="col-sm-4 col-md-3">
        	    <div class="team-profile">
        	        <figure>
        	        	<img src="http://lorempixel.com/output/people-q-c-200-200-9.jpg" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	        <h4 class="text-center">Laurent Ricard</h4>
        	        <p class="text-center">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
        	    </div>
        	</article>
        </div>
    </div>
</div>