section.banner.banner-blue.banner-team
  .container
    p L'équipe

.team-profiles
  .container
    .row
      - @intervenants.each do |intervenant|
        article.col-sm-4.col-md-3
          .team-profile
            figure = image_tag intervenant.profile_picture.url(:medium), class: 'img-responsive'

            h4.text-center
              = intervenant.name
              |&nbsp;
              = intervenant.lastname

            p.text-center.job-title = intervenant.description

            - if intervenant.twitter.present? or intervenant.linkin.present?
              ul.social_section.text-center
                - if intervenant.twitter.present?
                  li = link_to intervenant.twitter, target: '_blank' do
                    i.fa.fa-twitter

                - if intervenant.linkin.present?
                  li = link_to intervenant.linkin, target: '_blank' do
                    i.fa.fa-linkedin
