<section class="banner banner-blue banner-team">
	<div class="container">
    	<p class="text-left">l'équipe</p>
    </div>
</section>
<div class="team-profiles">
    <div class="container">
        <div class="row">
        	<article class="col-sm-4 col-md-3">
        	    <div class="team-profile">
        	        <figure>
        	        	<img src="assets/equipe/laurent.jpg" alt=."Faclab gennevilliers" class="img-responsive">
        	        </figure>
        	        <h4 class="text-center">Laurent Ricard</h4>
        	        <p class="text-center job-title">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="https://twitter.com/LaurentRicard"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/laurentricard/fr"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
        	    </div>
        	</article>
            <article class="col-sm-4 col-md-3">
                <div class="team-profile">
                    <figure>
                        <img src="assets/equipe/laurent.jpg" alt=."Faclab gennevilliers" class="img-responsive">
                    </figure>
                    <h4 class="text-center">Laurent Ricard</h4>
                    <p class="text-center job-title">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="https://twitter.com/LaurentRicard"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/laurentricard/fr"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </article>
            <article class="col-sm-4 col-md-3">
                <div class="team-profile">
                    <figure>
                        <img src="assets/equipe/laurent.jpg" alt=."Faclab gennevilliers" class="img-responsive">
                    </figure>
                    <h4 class="text-center">Laurent Ricard</h4>
                    <p class="text-center job-title">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="https://twitter.com/LaurentRicard"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/laurentricard/fr"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </article>
            <article class="col-sm-4 col-md-3">
                <div class="team-profile">
                    <figure>
                        <img src="assets/equipe/laurent.jpg" alt=."Faclab gennevilliers" class="img-responsive">
                    </figure>
                    <h4 class="text-center">Laurent Ricard</h4>
                    <p class="text-center job-title">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="https://twitter.com/LaurentRicard"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/laurentricard/fr"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </article>
            <article class="col-sm-4 col-md-3">
                <div class="team-profile">
                    <figure>
                        <img src="assets/equipe/laurent.jpg" alt=."Faclab gennevilliers" class="img-responsive">
                    </figure>
                    <h4 class="text-center">Laurent Ricard</h4>
                    <p class="text-center job-title">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="https://twitter.com/LaurentRicard"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/laurentricard/fr"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </article>
            <article class="col-sm-4 col-md-3">
                <div class="team-profile">
                    <figure>
                        <img src="assets/equipe/laurent.jpg" alt=."Faclab gennevilliers" class="img-responsive">
                    </figure>
                    <h4 class="text-center">Laurent Ricard</h4>
                    <p class="text-center job-title">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="https://twitter.com/LaurentRicard"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/laurentricard/fr"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </article>
            <article class="col-sm-4 col-md-3">
                <div class="team-profile">
                    <figure>
                        <img src="assets/equipe/laurent.jpg" alt=."Faclab gennevilliers" class="img-responsive">
                    </figure>
                    <h4 class="text-center">Laurent Ricard</h4>
                    <p class="text-center job-title">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="https://twitter.com/LaurentRicard"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/laurentricard/fr"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </article>
            <article class="col-sm-4 col-md-3">
                <div class="team-profile">
                    <figure>
                        <img src="assets/equipe/laurent.jpg" alt=."Faclab gennevilliers" class="img-responsive">
                    </figure>
                    <h4 class="text-center">Laurent Ricard</h4>
                    <p class="text-center job-title">Responsable de la licence</p>
                    <ul class="social_section text-center">
                        <li><a href="https://twitter.com/LaurentRicard"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/laurentricard/fr"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>