<section class="banner banner-blue banner-ucp">
	<div class="container">
    	<p>Université de Cergy-POntoise</p>
    </div>
</section>
<div class="container ucp">
	<div class="col-md-8 col-md-offset-2 ">
		<div class="row">
			<span class="col-md-4 infoUCP">
				<a href="https://www.google.fr/maps/dir//Universit%C3%A9+de+Cergy-Pontoise,+33+Boulevard+du+Port,+95000+Cergy-Pontoise/@49.038946,2.075368,15z/data=!4m12!1m3!3m2!1s0x0:0x21f4b28ff6a1a824!2sUniversit%C3%A9+de+Cergy-Pontoise!4m7!1m0!1m5!1m1!1s0x47e666d9cfccb2b9:0x21f4b28ff6a1a824!2m2!1d2.075368!2d49.038946">
					<span>Adresse</span>
					33 Boulevard du Port, 95000 Cergy-Pontoise
				</a>
			</span>
			<span class="col-md-4 infoUCP">
				<a href="tel:0134256000">
					<span>Téléphone</span>
					01 34 25 60 00
				</a>
			</span>
			<span class="col-md-2 infoUCP">
				<a href="https://twitter.com/UniversiteCergy" class="tw_retour">
					<i class="fa fa-twitter"></i>Twitter
				</a>
			</span>
			<span class="col-md-2 infoUCP ">
				<a href="https://www.facebook.com/UniversiteCergyPontoise" class="fb_retour">
					<i class="fa fa-facebook"></i>Facebook
				</a>
			</span>
		</div>

	</div>
</div>