@import "fonts";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-family: "Roboto Condensed Regular", sans-serif;
    padding-top: 60px;
}

.navbar-lpdw-admin {
    height: 60px;
    background-color: #34363A;
    border-bottom: 1px solid #C0C1C0;
    .header-title {
        background-color: #fff;
        height: 59px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin-left: 213px;
        h2 {
            font-size: 20px;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 3px;
            color: #919191;
            font-weight: normal;
            padding-left: 40px;
            line-height: 60px;
            text-shadow: 1px 1px 2px #fff;
            position: relative;
            flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            &:before {
                content: '';
                width: 36px;
                height: 36px;
                position: absolute;
                left: -19px;
                top: 12px;
                background-color: #34363A;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
    h1 {
        text-align: center;
        font-weight: normal;
        color: #F6F6EF;
        line-height: 59px;
        margin: 0;
        font-size: 20px;
        letter-spacing: 2px;
        background-color: #34363A;
    }
}

.sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #383B42;
    // border-top: 1px solid rgba(101, 116, 134, 0.57);
    box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48) inset;
    ul li {
        border-bottom: 1px solid #42454D;
        padding-left: 48px;
        transition: all 0.6s;
        border-top: 1px solid #2E3036;
    }
    ul li:hover {
        background-color: #454952;
        transition: all 0.6s;
        border-bottom: 1px solid #797979;
    }
    ul li a {
        line-height: 55px;
        font-size: 18px;
        position: relative;
        letter-spacing: 1px;
        transition: all 0.6s;
        display: block;
        color: #b3b3b3;
        text-decoration: none;
    }
    ul li:hover a {
        background-color: transparent;
        color: #fff;
        transition: all 0.6s;
    }
}

.main {
    padding-left: 50px;
}