.applicants {
  span {
    padding:5px;
  }
  .badge {
    line-height: 25px;
    border-radius: 0px;
    text-transform: uppercase;
    padding-top:0px;
    padding-bottom: 0px;
  }
  .badge-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  .badge-alert {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  .badge-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
  }
  .important-section-list{
      background:#417381;
  }
}
.applicant {
  .admin_option {
    background:white;
    padding-bottom: 25px;
  }
  .badge {
    padding:10px;
  }
  .badge-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  span {
    padding:5px;
  }
}