.applicants {

  span {
    padding:5px;
  }
  .badge {
    line-height: 25px;
    border-radius: 0px;
    text-transform: uppercase;
    padding-top:0px;
    padding-bottom: 0px;
  }
  .badge-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  .badge-alert {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  .badge-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
  }
  .important-section-list{
      background:#526674;
      width:150px;
  }
  .option_admin_applicants{
    cursor: pointer;
    display:inline;
    position:relative;
    .button{
      z-index:200;
    }
    i{
      margin:0px;
    }
    div{
      position:absolute;
      z-index:300;
      background:white;
      padding:5px;
      right:0px;
      text-align:center;
      .btn{
          margin-bottom:5px;
          width:100%;
      }

    }
  }
}
.applicant {
  .badge-alert {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  form {
    display:inline;
    max-width:250px;
    .btn {
    display:inline;
    margin:10px;
    }
  }
  .admin_option {
    background:white;
    padding-bottom: 25px;
  }
  .badge {
    padding:10px;
  }
  .badge-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  span {
    padding:5px;
  }

}