table {
  background: $color-3;
  margin: 1em;
  box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48) inset;
  i{
    color:white;
}
}
th {
  color: $color-4;
  font-size: 18px;
  padding: 0.5em 1em;
  text-align: left;
  border-bottom: 1px solid $color-2 !important;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
  border-top: none !important;
}
.disabled td {
  color: $color-1;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: $color-2;
}