<section class="banner banner-red">
	<div class="container">
		<p>Annuaire d'entreprises</p>
	</div>
</section>

<!-- ANNUAIRE ENTREPRISES ET OFFRES -->
<div class="gray-bg wrapper">
	<div class="container">
		<div class="row">

			<section class="col-md-10 col-md-offset-1 home-news">
				<h3 class="content-title">Accéder aux entreprises ou aux offres d'emploi</h3><br />

				<div class="row">
					<article class="col-md-6">
						<div class="article-new">

							<h3>Entreprises</h3>
							<p>
								Vous pouvez accéder à toutes les entreprises qui collaborent avec l'université de Cergy-Pontoise et y découvrir de nombreuses informations(Coordonnées, sites, descriptions, etc).
							</p>
   
							<%= link_to(companies_path(),:class=>'button') do %>
								<span>Voir les entreprises</span> <i class="fa fa-chevron-right"></i>
							<% end %>
						</div>
					</article>

					<article class="col-md-6">
						<div class="article-new">

							<h3>Les offres d'emploi</h3>
							<p>
								Pour faciliter vos recherches, vous pouvez accéder à de nombreuses offres d'emploi pour mener à bien votre licence professionelle. A vous de contacter directement celles qui vous intéressent !
							</p>

							<%= link_to(jobs_path(),:class=>'button') do %>
								<span>Voir les offres</span> <i class="fa fa-chevron-right"></i>
							<% end %>
						</div>
					</article>
				</div>

			</section>

		</div>
	</div>
</div>

