<h1>Gérer les comptes actualité</h1>
<%= link_to(admin_create_company_path(),:class=>'button button-blue float-right') do %>
    <span>Créer entreprise</span> <i class="fa fa-newspaper-o"></i>
<% end %>

Coucou

