/**
*
* Banner
*
* LPDW website's makeover
*
* LPDW 2014
* @author Antoine Grelard
* @author Alain Cajuste
* @author Ivan Daum
*
**/

.banner {
    position: relative;
    height: 100px;
    font-family: "Roboto Condensed Light", sans-serif;
    text-transform: uppercase;
    color: white;
    background: url("/assets/photo_gennevilliers_006.jpg") no-repeat center center;
    background-position-y: 30%;
    background-size: cover;
    &:before {
        content: "";
        background-color: $color-1;
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;
        -webkit-transition: opacity .1s ease-in-out;
        transition: opacity .1s ease-in-out;
    }
    p {
        text-align: center;
        white-space: pre;
        font-size: 30px;
        line-height: 100px;
        position: relative;
        z-index: 2;
    }
    span {
        font-family: "Roboto Condensed Bold", sans-serif;
    }
}

.banner-team {
    background: url("/assets/background-2.jpeg") no-repeat center center;
    background-size: cover;
}

.banner-news {
    background: url("/assets/background-3.jpg") no-repeat center center;
    background-size: cover;
}

.banner-work {
    background: url("/assets/background-2.jpeg") no-repeat center center;
    background-size: cover;
}

.banner-directions {
    background: url("/assets/ESSEC_campus_cergy.jpg") no-repeat center center;
    background-size: cover;
}

.banner-postuler {
    background: url("/assets/background-4.jpg") no-repeat center center;
    background-size: cover;
}

.banner-ucp {
    background: url("/assets/cergy.jpg") no-repeat center center;
    background-size: cover;

    & p {
        font-size: 25px;
    }
}

.banner-detailed {
    p {
        font-size: 14px;
        line-height: 26px;
        small {
            font-size: 12px;
            display: none;
        }
    }
}

.banner-blue {
    &:before {
        background-color: $color-2;
    }
}

.banner-link {
    a {
        color: white;
        text-decoration: none;
        z-index: 2;
        display: block;
        line-height: 200px;
        position: relative;
        white-space: initial;
        font-size: 28px;
    }
    &:hover {
        &:before {
            opacity: .9;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .banner {
        height: 150px;
        p {
            font-size: 60px;
            line-height: 150px;
            text-align: left;
        }

        &.banner-ucp {
            p {
                font-size: 50px;
            }
        }
    }

    .banner-detailed {
        p {
            text-align: center;
            font-size: 28px;
            line-height: initial;
        }
    }
}

@media (min-width: $screen-md-min) {
    .banner {
        height: 200px;
        p {
            font-size: 100px;
            line-height: 200px;
        }

        &.banner-ucp {
            p {
                font-size: 70px;
            }
        }
    }

    .banner-detailed {
        p {
            font-size: 28px;
            line-height: initial;
            small {
                display: block;
            }
        }
    }
}