.navbar-lpdw {

    height: 100%;
    width: 100%;
    background: white;
    text-transform: uppercase;
    font-family: "Roboto Condensed Light", sans-serif;
    font-size: 25px;
    & .navbar-brand {
        font-size: 28px;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid black;
        margin-top: 20px;
        margin-left: 20px;
    }
    & .navbar-nav {
        margin-left: 50px;
        //background-color: red;
        & > li > a {
            color: $color-1;
            padding: 10px 20px;
            line-height: 60px;
            text-shadow: 0 0 1px rgba(111,134,134,0.3);
            font-size: 25px;
        }
        & > li > a:hover {
            background-color: transparent;
            font-size: 25px;
        }
        & > .right-navbar {
            position: absolute;
            right: 0px;
            font-size: 25px;
        }
        & > .right-navbar > a {
            color: white;
            background: $color-1;
            font-size: 25px;
        }
        & > .right-navbar > a:hover {
            background: $color-2;
        }
    }
}
