.navbar-lpdw {
    height: 80px;
    background: white;
    text-transform: uppercase;
    font-family: "Roboto Condensed Light", sans-serif;
    & .navbar-brand {
        font-size: 28px;
        height: auto;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid black;
        margin-top: 20px;
    }
    & .navbar-nav {
        margin-left: 50px;
        & > li > a {
            color: $color-1;
            padding: 10px 30px 10px 30px;
            line-height: 60px;
        }
        & > li > a:hover {
            background-color: transparent;
        }
    }
}