.navbar-lpdw {
    height: 80px;
    background: white;
    text-transform: uppercase;
    font-family: "Roboto Condensed Light", sans-serif;
    & .navbar-brand {
        font-size: 28px;
        height: auto;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid black;
        margin-top: 20px;
    }
    & .navbar-nav {
        margin-left: 50px;
        & > li > a {
            color: $color-1;
            padding: 10px 30px 10px 30px;
            line-height: 60px;
        }
        & > li > a:hover {
            background-color: transparent;
        }

        & > .right-navbar {
            position:absolute;
            right:0px;
        }
        & > .right-navbar > a {
            color:white;
            background:$color-1;
         }
        & > .right-navbar > a:hover {
            background:$color-2;
         }
    }
}
.alerte{
    background:#2c3e50;
    margin:0px;
    padding:0px;
    width:100%;
    line-height:55px;

    text-align: center;
    display:block;
    position:relative;
    z-index:300;
    & a{
        font-size:19px;
        color:white;
    }
    & a:hover {
        text-decoration: none;
        border-bottom:1px dotted white;
    }
    & .close-alerte {
        position:absolute;
        right:0px;
        padding:0px;
        margin:0px;
        font-size:20px;
        width:57px;
        height:57px;
        cursor:pointer;
        border:none;
        color:white;
        background:none;
    }

}
.alerte-purple{
    background:#8e44ad;
}
.alerte-blue {
    background:#2c3e50;
}
.alerte-orange {
    background:#f39c12;
}
.alerte-green {
    background:#27ae60;
}