<div class="admin-panel">
<h2>Login panel</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
        <i class="fa fa-user"></i>
        <%= f.email_field :email, autofocus: true , :class=>"admin-input-email",:placeholder=>"Email"%>
    </div>
    <div class="form-group">
        <i class="fa fa-lock"></i>
        <%= f.password_field :password, autocomplete: "off", :class=>"admin-input-password",:placeholder=>"Mot de passe" %>
    </div>
    <div class="form-group">
        <%= f.submit "Se connecter", :class=>"admin-input-submit" %>
    </div>
    <% end %>
</div>