.button_wrapper {

	.button {
		text-decoration: none;
		color: #fff;
	}
  .button_2 {
	margin:auto;
	display:block;
	text-align:center;
	margin-top:-15px;
	margin-bottom:25px;
  }

}

.separator {
	display: block;
	max-width: 50px;
	padding: 10px;
	box-sizing: border-box;
	line-height: 10px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 50px;
		height: 1px;
		background-color: $color-1;
		top: 50%;
		margin-top: -1px;
	}
	&:before {
		left: -50px;
	}
	&:after {
		right: -50px;
	}
}

.form_wrapper {
	background-color: #f0f0f0;
	margin-bottom: 50px;
  	padding-bottom: 25px;
	.get_progression_form {
	  max-width:300px;
	  margin:auto;
	  input {
		border:none;
		padding:5px 10px;
		margin:5px 0px;
		width:100%;
	  }


	}
	.apply_steps {
		margin: 0;
		padding: 0;

		.apply_step {
			list-style: none;
			padding: 20px 20px;
			text-align: center;
			background: $color-2;
			box-sizing: border-box;
			color: #fff;

			&.active {
				background-color: $color-1;
			}

		}
	}

	.step {
		padding: 20px;
		display: none;

		& textarea,
		& input[type= "text"],
		& input[type= "email"],
		& input[type= "date"],
		& input[type= "tel"] {
			width: 100%;
			height: 30px;
			border: 1px solid transparent;
			padding-left: 10px;
		}

		& textarea {
			resize: none;
			&.big {
				height: 60px;
			}
		}

		.entourage_wrapper {
			display: none;
		}

		.schools_list,
		.cursus_list,
		.experience_list,
		.projects_list {
			li {
				list-style: none;
			}

			ul {
				padding: 0;
			}
		}
		.next {
		  	margin:5px;
		  	padding:5px;
		  	background:$color-4;
		  	color:white;
		  	float:right;
		  	text-transform: uppercase;
			display: inline-block;
		}

	}
  .submit,.submit_separator {
	border:none;
	float:right;
	width:auto;
	display:inline-block;
	margin:0px;
	padding:5px;
  }
  .submit_separator {
	width:150px;
	line-height:20px;

	&:after,&:before{
	  width:0px;
	}
  }
  .save_entry {
	float:left;
	margin:50px auto;
  }

}

.centered {
	text-align: center;
}

.input_wrapper {
	margin-top: 20px;
}

textarea.parsley-error,
input[type= "text"].parsley-error,
input[type= "email"].parsley-error,
input[type= "date"].parsley-error,
input[type= "tel"].parsley-error {
	border: 1px solid #ea483e !important;
}

textarea.parsley-success,
input[type= "text"].parsley-success,
input[type= "email"].parsley-success,
input[type= "date"].parsley-success,
input[type= "tel"].parsley-success {
	border: 1px solid #9EEA3E !important;
}

p.parsley-error {
	background: rgba(234, 72, 62, .3);
}

p.parsley-success {
	background: transparent;
}

.parsley-errors-list {
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	list-style: none;
	top: 7px;
	right: 0;
	padding: 0;
	padding-right: 20px !important;
	font-size: 12px;
}

.school_item .parsley-errors-list {
	top: 26px !important;
}

.radio_left {
	margin-left: 20% !important;
}

.radio_right {
	margin-right: 20% !important;
}

.radio_center-left {
	margin-right: 10% !important;
}

.radio_center-right {
	margin-left: 10% !important;
}