@font-face {
    font-family: 'Roboto Condensed Light';
    src: url('/assets/Roboto/Condensed/RobotoCondensed-Light-webfont.eot');
    src: url('/assets/Roboto/Condensed/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Roboto/Condensed/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('/assets/Roboto/Condensed/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('/assets/Roboto/Condensed/RobotoCondensed-Light-webfont.svg#Roboto Condensed Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Regular';
    src: url('/assets/Roboto/Condensed/RobotoCondensed-Regular-webfont.eot');
    src: url('/assets/Roboto/Condensed/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Roboto/Condensed/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('/assets/Roboto/Condensed/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('/assets/Roboto/Condensed/RobotoCondensed-Regular-webfont.svg#Roboto Condensed Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('/assets/Roboto/Condensed/RobotoCondensed-Bold-webfont.eot');
    src: url('/assets/Roboto/Condensed/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Roboto/Condensed/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('/assets/Roboto/Condensed/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('/assets/Roboto/Condensed/RobotoCondensed-Bold-webfont.svg#Roboto Condensed Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('/assets/Open Sans/OpenSans-Regular-webfont.eot');
    src: url('/assets/Open Sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Open Sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('/assets/Open Sans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/assets/Open Sans/OpenSans-Regular-webfont.svg#Open Sans Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('/assets/Open Sans/OpenSans-Bold-webfont.eot');
    src: url('/assets/Open Sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Open Sans/OpenSans-Bold-webfont.woff') format('woff'),
         url('/assets/Open Sans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/assets/Open Sans/OpenSans-Bold-webfont.svg#Open Sans Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('/assets/Open Sans/Condensed/OpenSans-CondBold-webfont.eot');
    src: url('/assets/Open Sans/Condensed/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Open Sans/Condensed/OpenSans-CondBold-webfont.woff') format('woff'),
         url('/assets/Open Sans/Condensed/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('/assets/Open Sans/Condensed/OpenSans-CondBold-webfont.svg#Open Sans Condensed Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
