.formation blockquote
{
	font-style: italic;
	font-size:2em;
	margin:0px;
	padding:25px;
	display:block;
	border:none;
	text-align:center;
	small {
		display:block;
		width:100%;
		text-align:right;
		margin-top:15px;
		font-size:20px;
		&:before{
			content:"-";
		}
	}
}
.title-center
{
	padding:25px 0px;
	text-align:center;
	background:$color-5;
	width:100%;
	margin:0px;
}
.formation .row {
	vertical-align: middle;
}
.formation .row img {
	width:100%;
}
.formation .break {
	width:100%;
	line-height:30px;
	height:30px;
	display:block;
	margin:25px 0px;
	border-bottom:1px solid #999999;

}
.formation section
{
	margin-top:25px;
}