.home-news {
    position: relative;
    h1 {
        text-transform: uppercase;
    }
    article {
        height: 230px;
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
        & .article-new{
             background: white;
             height:100%;
             padding:15px;
             border-bottom: 2px solid #D5D5D5;
             overflow: hidden;
        }
        h3 {
            color: $color-2;
            margin-top: 0;
            text-transform: uppercase;
        }

        p {
            margin-top: 20px;
            
            img {
                display: none;
            }
        }

        .button {
            position: absolute;
            right: 0;
            bottom: 0;
            margin-right: 25px;
            margin-bottom: 15px;
            display: block;
            width: 140px;
            font-size: 18px;
            padding: 10px 15px 10px 15px;
            text-align: center;
            background: white;
            color: $color-1;
            border: 1px solid $color-4;
            -webkit-user-select: none;
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;

            span {
                position: relative;
                left: 0;
                transition: all 0.2s;
            }
            &:hover span {
                left: -10px;
                transition: all 0.2s;
            }
            i {
                position: absolute;
                left: 85%;
                top: 30%;
                opacity: 0;
                transition: all 0.2s;
            }
            &:hover i {
                left: 88%;
                opacity: 1;
                transition: all 0.2s;
            }
        }
    }
    & .more-article {
        float: right;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-1;
    }
}

.home-faclab {
    position: relative;
    margin-top: 50px;
    h1 {
        text-transform: uppercase;
    }
    article {
        margin-bottom: 25px;
        padding: 20px;
        h3 {
            color: $color-2;
            text-transform: uppercase;
        }
        img {
            float: left;
            border: 3px solid #979797;
            height: 150px;
            width: 150px;
            margin-right: 50px;
        }
        p {
            padding-top: 55px;
        }
        .button {
            position: absolute;
            font-size: 16px;
            padding: 10px 15px;
            right: 0;
            bottom: 0;
            margin: 0;
            text-align: center;
            background: $color-3;
            color: white;
            -webkit-user-select: none;
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;
            width: initial;
            max-width: 200px;
            span {
                position: relative;
                left: 0;
                transition: all 0.2s;
            }
            &:hover span {
                left: -10px;
                transition: all 0.2s;
            }
            i {
                position: absolute;
                left: 85%;
                top: 33%;
                opacity: 0;
                transition: all 0.2s;
            }
            &:hover i {
                left: 88%;
                opacity: 1;
                transition: all 0.2s;
            }
        }
    }
}

.home-creations {
    margin-top: 50px;
    margin-bottom: 100px;

    article {
        padding-left: 5px;
        padding-right: 5px;
        & .article-creation{
             background: $color-5;
        }
    }
    img {
        margin: 0 auto;
    }
    h4 {
        color: $color-1;
        padding-bottom:10px;
    }
    p {
        color: $color-2;
        padding: 10px;
    }

    & .more-creations {
        position: absolute;
        right: 0;
        bottom: -25px;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-1;
    }
}

@media (max-width: $screen-sm-max) {
    
    .home-faclab {

        article {

            .button {
                bottom: -30px;
                right: 30px;
            }

        }

    }

}