<<<<<<< HEAD
.headband-top {
    position: relative;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: white;
    background: url("/assets/photo_gennevilliers_006.jpg") no-repeat center center;
    background-position-y: 30%;
    background-size: cover;
    margin-bottom: 50px;
    &:before {
        content: "";
        background-color: $color-1;
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }
    p {
        white-space: pre;
        font-size: 2em;
        position: relative;
        z-index: 2;
        small {
            font-size: 0.5em;
        }
    }
}

=======
>>>>>>> dev
.home-news {
    position: relative;
    h1 {
        text-transform: uppercase;
    }
    article {
        height: 230px;
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
        & .article-new{
             background: white;
             height:100%;
             padding:15px;
<<<<<<< HEAD
        }
        h3 {
            color: $color-2;
            text-transform: uppercase;
        }
        p {
            margin-top: 20px;
        }
        .button {
            position: absolute;
            font-size: 18px;
            padding: 10px 15px 10px 15px;
            right: 0;
            bottom: 0;
            margin-bottom: 15px;
            margin-right: 25px;
=======
             border-bottom: 2px solid #D5D5D5;
             overflow: hidden;
        }
        h3 {
            color: $color-2;
            margin-top: 0;
            text-transform: uppercase;
        }

        p {
            margin-top: 20px;
            
            img {
                display: none;
            }
        }

        .button {
            position: absolute;
            right: 0;
            bottom: 0;
            margin-right: 25px;
            margin-bottom: 15px;
            display: block;
            width: 140px;
            font-size: 18px;
            padding: 10px 15px 10px 15px;
>>>>>>> dev
            text-align: center;
            background: white;
            color: $color-1;
            border: 1px solid $color-4;
            -webkit-user-select: none;
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;
<<<<<<< HEAD
=======

>>>>>>> dev
            span {
                position: relative;
                left: 0;
                transition: all 0.2s;
            }
            &:hover span {
                left: -10px;
                transition: all 0.2s;
            }
            i {
                position: absolute;
                left: 85%;
                top: 30%;
                opacity: 0;
                transition: all 0.2s;
            }
            &:hover i {
                left: 88%;
                opacity: 1;
                transition: all 0.2s;
            }
        }
    }
    & .more-article {
<<<<<<< HEAD
        position: absolute;
        right: 0;
        bottom: 0;
=======
        float: right;
>>>>>>> dev
        text-transform: uppercase;
        text-decoration: none;
        color: $color-1;
    }
}

<<<<<<< HEAD
.headband-middle {
    position: relative;
    height: 200px;
    top: 50px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: white;
    background: url("/assets/photo_gennevilliers_006.jpg") no-repeat center center;
    background-position-y: 30%;
    background-size: cover;
    margin-bottom: 50px;
    &:before {
        content: "";
        background-color: $color-2;
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }
    p {
        white-space: pre;
        font-size: 2em;
        position: relative;
        line-height: 65px;
        z-index: 2;
        strong {
            font-family: "Roboto Condensed Bold", sans-serif;
        }
    }
}

=======
>>>>>>> dev
.home-faclab {
    position: relative;
    margin-top: 50px;
    h1 {
        text-transform: uppercase;
    }
    article {
        margin-bottom: 25px;
        padding: 20px;
        h3 {
            color: $color-2;
            text-transform: uppercase;
        }
        img {
            float: left;
            border: 3px solid #979797;
            height: 150px;
            width: 150px;
            margin-right: 50px;
        }
        p {
            padding-top: 30px;
        }
        .button {
            position: absolute;
            font-size: 16px;
<<<<<<< HEAD
            padding: 15px;
            padding-top: 0;
            padding-bottom: 0;
            right: 0;
            bottom: 0;
            margin-bottom: 20px;
            margin-right: 20px;
            text-align: center;
            background: $color-3;
            color: white;
            border: 1px solid $color-4;
=======
            padding: 10px 15px;
            right: 0;
            bottom: 0;
            margin: 0;
            text-align: center;
            background: $color-3;
            color: white;
>>>>>>> dev
            -webkit-user-select: none;
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;
<<<<<<< HEAD
=======
            width: initial;
            max-width: 200px;
>>>>>>> dev
            span {
                position: relative;
                left: 0;
                transition: all 0.2s;
            }
            &:hover span {
                left: -10px;
                transition: all 0.2s;
            }
            i {
                position: absolute;
                left: 85%;
<<<<<<< HEAD
                top: 20%;
=======
                top: 33%;
>>>>>>> dev
                opacity: 0;
                transition: all 0.2s;
            }
            &:hover i {
                left: 88%;
                opacity: 1;
                transition: all 0.2s;
            }
        }
    }
}

.home-creations {
    margin-top: 50px;
    margin-bottom: 100px;
<<<<<<< HEAD
    article {
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        & .article-creation{
             background: $color-5;
        }
    }
    img {}
=======

    article {
        padding-left: 5px;
        padding-right: 5px;
        & .article-creation{
             background: $color-5;
             overflow: hidden;
        }
    }
    img {
        margin: 0 auto;
        height: 234px;
        width: auto;
        text-align: center;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
>>>>>>> dev
    h4 {
        color: $color-1;
    }
    p {
        color: $color-2;
        padding: 10px;
    }

    & .more-creations {
        position: absolute;
        right: 0;
        bottom: -25px;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-1;
    }
<<<<<<< HEAD
=======
}

@media (max-width: $screen-md-max) {
    .home-creations {
        img {
            height: 192px;
        }
    }
}

@media (max-width: $screen-sm-max) {
    
    .home-faclab {

        article {

            .button {
                bottom: -30px;
                right: 30px;
            }

        }

    }

    .home-creations {
        img {
            height: auto;
            max-width: 100%;
        }
    }

>>>>>>> dev
}