.map {
    position: relative;
    height: 350px;
    width:100%;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: white;

    background: url("/assets/map.png") no-repeat center center;
    background-size: cover;
    &:before {
        content: "";

        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }
    div {
        height:100%;
        padding:0px;
    }
    div:before {
        background:black;
        opacity: 0.7;
    }

    div p {
        margin:auto;
        top:0px;
        bottom:0px;
        width:100%;
        height:40%;

        display: block;
        font-size: 3em;
        position: absolute;

        line-height: 35px;
        z-index: 2;

        small{
            font-size: 20px;
        }
    }
}
.address{
    padding:25px 0px ;
    font-size:2.5em;
}
