.map {
    position: relative;
    height: 350px;
    width:100%;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: white;
    margin:0px;
    background: url("/assets/map.png") no-repeat center center;
    background-size: cover;
    &:before {
        content: "";
        background:black;
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;

    }
    div
        {
            margin-top:40px;
        .btn {
            display:block;
            width:200px;
            margin:auto;
            margin-top:25px;
        }
    }
}
div .address {
    top:0px;
    bottom:0px;
    width:100%;
    padding:25px 0px;
    display: block;
    font-size: 3em;
    line-height: 20px;
    z-index: 2;


    small{
        font-style: italic;
        font-size: 20px;
        margin-top:0px;
    }
}
.contact {
    margin-top:25px;
    margin-bottom:25px;
    textarea {
        height:150px;
    }
    input,textarea {
        padding:20px ;
        border-radius:0px;
        text-shadow:none;
    }
    .col-md-6 {
        h4 {
            margin:0px;
            padding:0px;
            margin-bottom:10px;
        }

        .network {
            text-align:left;
            display:block;
            width:100%;
            margin-bottom:20px;

            div {
                margin-left:0px;
                padding-left:0px;
                a{
                    color:white;
                    text-align:left;
                    font-size:20px;
                    background:#f6f6f6;
                    padding:10px;
                    .fa
                    {
                        margin-right:10px;
                        margin-left:10px;

                    }
                }

                a:hover
                {
                    text-decoration: none;
                    color:white;
                }

                .tw-retour {
                    color:#55acee;
                }
                .tw-retour:hover
                {
                    background:#55acee;
                }
                .fb-retour {
                    color:#3b5998;
                }
                .fb-retour:hover {
                    background:#3b5998;
                }
            }
        }     
    }
}
