.headband-top-venir {
    background: url("/assets/6931240265_9fb7573673_b.jpg") no-repeat center center;
    background-position-y: 60%;
    background-size: cover;
    margin-bottom: 0;
    &:before {
        background-color: $color-2;
    }
    p {
        white-space: pre;
         font-size: 5em;
         line-height: 60px;
        position: relative;
        z-index: 2;
        small {
            font-size: 0.5em;
        }
    }
}
.map {
    position: relative;
    height: 350px;
    width:100%;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: white;
    margin:0px;
    background: url("/assets/map.png") no-repeat center center;
    background-size: cover;
    &:before {
        content: "";
        background:black;
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;

    }
    div
        {
            margin-top:40px;
        .btn {
            display:block;
            width:200px;
            margin:auto;
            margin-top:25px;
        }
    }
}
div .address {
    top:0px;
    bottom:0px;
    margin-top:25px;
    width:100%;
    padding:25px 0px;
    display: block;
    font-size: 3em;
    line-height: 25px;
    z-index: 2;

    small{
        font-style: italic;
        font-size: 20px;
    }
}
