.mentions
{
	background:$color-5;
	width:100%;
	padding:25px 0px;
}
.mentions .row
{
	margin-bottom:10px;
}
.mentions .col-md-4
{
	padding:0px 10px;
	margin:0px;
	
}
.mentions .col-md-4 div
{
	background: white;
	border-bottom: 2px solid #D5D5D5;
	padding:5px 10px;
}