.map {
    position: relative;
    height: 350px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: white;
    background: url("/assets/map.png") no-repeat center center;
    background-size: cover;
    &:before {
        content: "";
        background-color: black;
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }
    div {
        background:red;
        height:100%;

    }
    div p {

        display: block;
        font-size: 1.5em;
        position: relative;
        z-index: 2;

        small {
            font-size: 1em;
        }
    }
}