<div class="gray-bg wrapper">
    <div class="container bp">

        <nav class="col-md-3 type">
            <div class="bpbutton row">
                <a class="active" href="#">
                    <span> Tous </span>
                </a>
            </div>
            <div class="bpbutton row">
                <a href="#">
                    <span> Logement </span>
                </a>
            </div>
            <div class="bpbutton row">
                <a href="#">
                    <span> Nourriture </span>
                </a>
            </div>
            <div class="bpbutton row">
                <a href="#">
                    <span> Transport </span>
                </a>
            </div>
            <div class="bpbutton row">
                <a href="#">
                    <span> Loisirs </span>
                </a>
            </div>
        </nav>

        <section class="col-md-8 col-md-offset-1 home-news">
            <nav class="col-md-12">
                <form class="col-md-4 search" accept-charset="UTF-8" action="#" method="post">
                    <input class="col-md-9"  id="name_contact" name="name_contact" placeholder="Recherche" type="text">
                    <button class="btn btn-default glyphicon glyphicon-search" name="button" type="submit"></button>
                </form>
                <div class="bpbutton">
                    <a href="#">
                        <span> Proposer un bon plan </span>
                    </a>
                </div>
            </nav>
            <article class="col-md-12">
                <div class="article-new">
                    <h3>
                        Lorem ipsum dolor
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, 
                    </p>
                    <div class="row">

                        <a href="#" class="col-md-4"> <h3>En savoir +</h3> </a>
                        <div class="col-md-4 vote">
                            <a href="#" class="glyphicon glyphicon-thumbs-up"> +1 </a>
                            <a href="#" class="glyphicon glyphicon-thumbs-down"> -1 </a>
                        </div>
                    </div>
                </div>
            </article>


        </section>


    </div>

</div>

