$color-white: #f9f9f9;
$color-red: #e64133;
$color-red-light: #ff5e4c;
$color-yellow: #db9c3d;
$color-yellow-light: #fab13c;
$color-green: #2eb363;
$color-green-light: #3dd17a;
$color-blue: #3498db;
$color-blue-soft: #50b1f2;
$color-blue-dark: #2c3e50;
$color-blue-dark-soft: #34495e;
$color-grey-dark: #b6c4cf;
//
$color-grey-light: #e1eaf1;

@mixin theme-color($color) {
    @if $color == red {
        color: $color-white;
        background-color: $color-red-light;
    }
    @else if $color == blue {
        color: $color-white;
        background-color: $color-blue-soft;
    }
    @else if $color == green {
        color: $color-white;
        background-color: $color-green-light;
    }
    @else if $color == yellow {
        color: $color-white;
        background-color: $color-yellow-light;
    }
    @else if $color == default {
        color: $color-blue-dark-soft;
        background-color: $color-grey-light;
    }
    @else {
        color: $color-white;
        background-color: $color-blue-dark-soft;
    }
}

/*    ----------------------------------------  */
@mixin theme-color-hover($color) {
    @if $color == red {
        &:hover {
            text-decoration: none;
            background-color: $color-red;
        }
        &:active {
            background-color: $color-red-light;
        }
    }
    @else if $color == blue {
        &:hover {
            text-decoration: none;
            background-color: $color-blue;
        }
        &:active {
            background-color: $color-blue-soft;
        }
    }
    @else if $color == green {
        &:hover {
            text-decoration: none;
            background-color: $color-green;
        }
        &:active {
            background-color: $color-green-light;
        }
    }
    @else if $color == yellow {
        &:hover {
            text-decoration: none;
            background-color: $color-yellow;
        }
        &:active {
            background-color: $color-yellow-light;
        }
    }
    @else if $color == default {
        &:hover {
            text-decoration: none;
            background-color: $color-grey-dark;
        }
        &:active {
            background-color: $color-grey-light;
        }
    }
    @else {
        &:hover {
            text-decoration: none;
            background-color: $color-blue-dark;
        }
        &:active {
            background-color: $color-blue-dark-soft;
        }
    }
}

/*--------------------------------------------------------*/
.button {
    @include theme-color(default);
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 1.1em;
    text-decoration: none;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.15s ease;
    @include theme-color-hover(default);

    &:active {
        position: relative;
        top: 1px;
        left: 1px;
    }
    &.button-red {
        @include theme-color(red);
        @include theme-color-hover(red);
    }
    &.button-blue {
        @include theme-color(blue);
        @include theme-color-hover(blue);
    }
    &.button-green {
        @include theme-color(green);
        @include theme-color-hover(green);
    }
    &.button-yellow {
        @include theme-color(yellow);
        @include theme-color-hover(yellow);
    }
    &.button-inverse {
        @include theme-color(inverse);
        @include theme-color-hover(inverse);
    }
    &.button-sm {
        font-size: 0.95em;
        //12px
        padding: 6px 12px;
    }
    &.button-lg {
        font-size: 1.4em;
        //18px
    }
}
.badge {
    @include theme-color(default);
    font-size: 0.95em;
    padding: 2px 10px;

    &.badge-red {
        @include theme-color(red);
    }
    &.badge-blue {
        @include theme-color(blue);
    }
    &.badge-green {
        @include theme-color(green);
    }
    &.badge-yellow {
        @include theme-color(yellow);
    }
    &.badge-inverse {
        @include theme-color(inverse);
    }
}
.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity = 65);
}
.btn-options-switch {
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: #252531;
    width: 80px;
    height: 35px;
    clear: both;
    border-radius: 50px;
    box-shadow:inset 0px 1px 2px #121117, 0px 1px 1px #3e3d4b;

    &.on {
        .track {
            left: 45px;
        }
        .ball {
            &.red {
                opacity: 0;
                visibility: hidden;
            }
            &.green {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .ball {
        width: 12px;
        height: 12px;
        border: 1px solid;
        margin: 11px;
        border-radius: 50%;

        &.red {
            float: right;
            border-color: #E73D3D;
        }
        &.green {
            float: left;
            opacity: 0;
            border-color: #6CDA86;
        }
    }
    .track {
        width: 25px;
        height: 25px;
        margin: 5px;
        position: absolute;
        left: 0;
        border-radius: 50%;
        background: linear-gradient(to top, #323141 0%, #383546 47%, #3c3b4d 100%);
        box-shadow:0px 1px 2px #121117, inset 0px 1px 2px #444257;
    }
}